.book{
  &__content{
    background-color: $color--lightback;
    min-height:500px;
    max-height:500px;
    border-radius: 29px;
    padding: 0.3rem 1rem;
    padding-bottom:1rem;
    
    span{
      margin-left:10px;
      line-height: 1rem;
      h3{
        font-family: $font--heading;
        line-height:1.2rem;
        margin-top:-0.1rem;
      }
      h4{
        font-family: $font--heading;
        color: $color--darkred;
      }
    }

    &--row{
      margin-top:2rem;
      @include flexInst(row,flex-start,space-around)
    }

    img{
      height:200px;
      max-height:200px;
      max-width:200px;
    }
  
 
  }
  &__category{
    background-color: $color--primered;
    padding:0.5rem;
    color:$color--lightback;
    margin-bottom:-0.5rem;
    text-align: center;
  }

  &__user{
    width:80%;
    line-height: 1rem;
    p{
      font-weight:600;
    }
    
    h4{
      font-family: $font--heading;
      color: $color--darkred;
    }
  }

}
