.text--uppercase {
  text-transform: uppercase;
}

.text--genre {
  font-family: "Rubik Bubbles", sans-serif;
}

.text--normal {
  font-family: "Nunito Sans", Arial, sans-serif;
}

.text--red {
  color: #a12222;
}

.book__content {
  background-color: #f8e9d4;
  min-height: 500px;
  max-height: 500px;
  border-radius: 29px;
  padding: 0.3rem 1rem;
  padding-bottom: 1rem;
}

.book__content--description {
  padding-left: 1rem;
}

.book__content span {
  margin-left: 10px;
  line-height: 1rem;
}

.book__content span h3 {
  font-family: "Arvo", serif;
  line-height: 1.2rem;
  margin-top: -0.1rem;
}

.book__content span h4 {
  font-family: "Arvo", serif;
  color: #a12222;
}

.book__content--row {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.book__content img {
  height: 200px;
  max-height: 200px;
  max-width: 200px;
}

.book__category {
  background-color: #ac4747;
  padding: 0.5rem;
  color: #f8e9d4;
  margin-bottom: -0.5rem;
  text-align: center;
}

.book__user {
  width: 80%;
  line-height: 0.3rem;
  padding-left: 1rem;
}

.book__user p {
  font-weight: 600;
}

.book__user h4 {
  font-family: "Arvo", serif;
  color: #a12222;
}

.header {
  background-color: #ac4747;
  padding: 1rem;
  margin: 0 auto;
  color: #f8d03e;
}

.header .logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .logotype img {
  max-height: 50px;
}

.header .logotype h1 {
  font-family: "Rubik Bubbles", sans-serif;
  letter-spacing: 0.1rem;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header #headerMember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header #loggedinUser {
  color: #f8e9d4;
  margin-right: 30px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #f8e9d4;
  font-weight: bold;
}

.header__menu a {
  text-decoration: none;
  font-weight: bold;
  color: #f8e9d4;
}

body {
  margin: 0 auto;
  background-color: #f8d03e;
  font-family: "Nunito Sans", Arial, sans-serif;
}

.hero {
  position: relative;
  text-align: center;
}

.hero__backgroundpic {
  width: 100%;
}

.hero__backgroundpic img {
  min-width: 100%;
  max-height: 800px;
}

.hero__content {
  background-color: #f8d03e;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__content h2 {
  font-family: "Arvo", serif;
  color: black;
}

.hero__content a {
  color: black;
  font-family: "Arvo", serif;
}

.headline__books {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0.2rem;
}

.headline__books h2 {
  font-family: "Arvo", serif;
  font-size: 48px;
  margin-top: 2rem;
  color: #ac4747;
}

.headline__books p {
  font-weight: bold;
}

.homepage__login {
  background-color: #ac4747;
  margin-top: -1rem;
  color: #f8e9d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

.homepage__login--img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: -1rem;
}

@media only screen and (min-width: 768px) {
  .homepage__login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.homepage__login--form {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage__login--form h2 {
  margin-bottom: -0.3rem;
}

.homepage__login--form label {
  margin-top: 0.7rem;
}

.homepage__login--form input {
  border: none;
}

.homepage__login--form button {
  margin-top: 0.8rem;
  padding: 0.5rem;
  border: none;
  background-color: #f8d03e;
  font-weight: bold;
}

.homepage__login--form button:hover {
  background-color: #000;
  color: #f8e9d4;
}

.homepage__login--register {
  background-color: #f8d03e;
  color: #000;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 19px;
  text-align: center;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 50%;
}

@media only screen and (min-width: 768px) {
  .homepage__login--register {
    max-width: 30%;
  }
}

.homepage__login--register button {
  margin-top: 0.2rem;
  padding: 0.5rem;
  border: none;
  background-color: #ac4747;
  color: #f8e9d4;
  font-weight: bold;
}

.homepage__login--register button:hover {
  background-color: #000;
}

.homepage__content {
  margin-top: 3rem;
  padding: 1rem;
}

.homepage__grid {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 600px) {
  .homepage__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 991px) {
  .homepage__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.homepage__grid--griditem {
  padding: 1rem;
}

.homepage__gridgenres {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  max-width: 1000px;
  grid-gap: 1rem;
}

@media only screen and (min-width: 600px) {
  .homepage__gridgenres {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.book__content img {
  width: 300px;
}

@media only screen and (min-width: 600px) {
  .book__content img {
    max-width: 150px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ac4747;
  padding: 1rem;
  color: #f8e9d4;
}

.footer img {
  border-radius: 50%;
}

.footer a {
  color: #f8e9d4;
}

.register__welcome {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.register__welcome--duck {
  max-height: 300px;
}

.register__welcome--info {
  max-width: 40%;
  line-height: 1.2rem;
}

.register__welcome--info p {
  font-weight: 700;
}

.register__welcome--info h3 {
  font-family: "Arvo", serif;
}

.register__welcome--info h2 {
  font-family: "Arvo", serif;
  font-size: 48px;
  line-height: 1.3rem;
  color: #ac4747;
}

.register__welcome ul {
  list-style: square;
}

.register__welcome--form {
  margin-top: 3rem;
  background-color: #ac4747;
  border-radius: 19px;
  color: #f8e9d4;
  font-weight: bold;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register__welcome--form h3 {
  margin-bottom: 2rem;
}

.register__welcome--form label {
  margin-bottom: 0.3rem;
}

.register__welcome--form input {
  margin-bottom: 0.5rem;
  background-color: #f8e9d4;
  color: #000;
  border: none;
  padding: 0.3rem;
  width: 60%;
}

.register__welcome--form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.register__welcome--form span h5 {
  margin-top: 0.2rem;
  color: #f8e9d4;
  width: 60%;
  font-weight: bold;
}

.register__welcome--form button {
  padding: 0.5rem;
  background-color: #f8d03e;
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 9px;
  margin-bottom: -1rem;
}

.register__welcome--form button:hover {
  background-color: #f8e9d4;
}

.error {
  padding: 2rem;
  font-weight: bold;
  text-align: center;
}

.error a {
  color: #f8d03e;
}

.genre {
  background-color: #f8d03e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.genre img {
  border-radius: 50%;
  max-height: 300px;
  margin-top: 2rem;
}

.genre h2 {
  font-size: 48px;
  margin-top: 3rem;
  font-family: "Arvo", serif;
  font-weight: bold;
  color: #a12222;
}

.genre__content {
  background-color: #f8e9d4;
  padding: 1rem;
  min-height: 300px;
  border-radius: 19px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.genre__content h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Arvo", serif;
  margin-top: 1rem;
  color: #000;
}

.genre__content p {
  font-weight: 600;
}

.genre__content:hover {
  background-color: #ac4747;
  color: #f8e9d4;
}

.genre__content:hover h2 {
  color: #f8d03e;
}

.profile {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

.profile__welcome {
  padding: 2rem;
}

.profile__welcome p {
  font-weight: 700;
}

.profile__img {
  border-radius: 50%;
  max-height: 200px;
}

.profile__img--2 {
  max-height: 200px;
}

.profile__grid {
  background-color: #f8e9d4;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.profile__grid--griditem {
  padding: 2rem;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__grid--griditem h3 {
  background-color: #ac4747;
  padding: 1rem;
  color: #f8e9d4;
}

.profile__grid--griditem h4 {
  color: #ac4747;
}

.profile__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  margin: 2rem;
}

.profile__main h2 {
  font-family: "Arvo", serif;
  color: #ac4747;
}

.profile h2 {
  font-family: "Arvo", serif;
}

.profile__upload {
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f8e9d4;
  font-weight: 600;
  padding: 2rem;
}

.profile__upload--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__upload--form button {
  background-color: #ac4747;
  color: #f8d03e;
  font-weight: bold;
  border: none;
  border-radius: 9px;
  padding: 0.5rem;
}

.profile__upload--formimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  margin-bottom: 1rem;
}

.profile__upload--formimg label {
  margin-bottom: 1rem;
}

.profile__upload--formlabels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile__upload--formlabels label {
  margin-top: 0.7rem;
  padding-bottom: 0.3rem;
}

.profile__upload--formlabels input {
  font-weight: bold;
  border: none;
  background-color: #f4f4f4;
  padding: 0.2rem;
}

.profile__upload--length {
  max-width: 15%;
}

.profile__upload--rating {
  margin-top: 1rem;
}

.profile__upload--rating input {
  padding: auto;
  max-width: 15%;
}

.profile__upload--select {
  padding: 0.3rem;
  font-weight: bold;
  background-color: #f4f4f4;
  border: none;
}

.profile__upload--radiobtn {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown {
  display: none;
}

.dropdown--close {
  cursor: pointer;
  margin-left: 3rem;
}

.dropdown--close img {
  height: 30px;
}

.mainmenu__mobile {
  background-color: #ac4747;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  padding: 30px 20px;
}

.mainmenu__mobile li {
  display: block;
  margin-bottom: 10px;
  padding: 0.2rem;
}

.mainmenu__mobile li a {
  color: #f8e9d4;
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 0px 0;
  text-align: center;
  text-decoration: none;
}

.mainmenu__mobile li a:hover {
  color: #f8d03e;
}

.nav__button {
  height: 40px;
}

.hidden {
  display: none;
}

.row--between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leftmargin {
  padding-left: 2rem;
}

.margintop--none {
  padding: 0;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.margintop--small {
  padding: 0;
  margin-top: -0.5rem;
}

@media only screen and (min-width: 991px) {
  .twocolumns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */